body {
  text-align: left;
}

.main-container{
  background:#001861;
}

.control-button > div {
  background-color: #fff;
  color: #000;
  transition: background-color 200ms ease;
  cursor: pointer;
  border-radius: 1000px;
  text-align: center;
  width: 100px;
}

.control-button:hover > div{
  background-color: #eee;
  color: #000;
}


.control-button.is-control > div {
  background-color: #0645FF;
  color: #fff;
}

.control-button.is-control:hover > div {
  background-color: #0537CC;
}

.control-button.is-danger > div{
  background-color: #f00f00;
  color: #fff;
}

.control-button.is-danger:hover > div{
  background-color: #cc0d00;
}

.control-button.is-procedure > div{
  width: 200px;
}

.control-button.is-room > div{
  /* background-color: #0051ff; */
  /* color: #fff; */
  width: 200px;
}

.state-bar {
  background: #00144e;
  color: #fff;
  display:flex;
  justify-content:space-between;
  margin-bottom: 10px;
}

.state-bar .name{
  display: inline-block;
  padding: 20px 0 20px 20px;
  
}

.state-bar .state{
  background:hsl(141, 71%, 38%);
  padding: 20px;
  display: inline-block;
}

.state-bar .button{
  display: inline-block;
}

.state-bar .control-button.is-reset > div {
  margin-right:20px;  
  border-radius:100px;
  padding: 10px 0 10px 0;
}

.state-bar .state.is-offline{
  background:hsl(0, 0%,85%);
  color:#000;
}